<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/grid.locale-en.js")"    type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")"    type="text/javascript"></script>
</head>

<body>
    <div class='topbar-wrapper'>
        <div class='topbar'>
            <div class='topbar-inner'>
            <div class='container'>
                @Html.ActionLink("Bearchop","index","menu", new{area=""}, new{@class="brand"})
                <ul class='nav'>
                    <li>
                        @Html.ActionLink("LOTW", "index", "home", new { area = "LOTW" }, new { })
                    </li>
                    <li>
                        @Html.ActionLink("NCAAF", "index", "schedule", new { area = "ncaaf" }, new { })
                    </li>
                    <li>
                        <a href='http://www.jeaux.com/contests/contests.aspx'>Jeaux's Contests</a>
                    </li>
                </ul>
                @RenderSection("pills", false)            
            </div>
            </div>
        </div>
    </div>

    @RenderBody()
</body>
</html>
