@model LOTW.Web.ViewModels.GamesViewModel

@{
    bool includesFinalizedGames = Model.Games.Any(game => game.Finalized == true);

    int columnCount = 6;
    if (includesFinalizedGames)
    {
        columnCount += 3;
    }
}

    <h3>Games for Week @Model.CurrentWeek.Number</h3>
    <table class="gameList">
    <thead>
        <tr>
            <th>Week</th>
            <th>Date</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Spread</th>
            <th>Over/Under</th>
            @if (includesFinalizedGames)
            {
                <th>Final Score</th> 
                <th>Home Team</th>
                <th>Away Team</th>
            }
            <th>Action</th>
        </tr>
        
    </thead>
    <tbody>
    @foreach (var game in Model.Games)
    { 
        <tr>
            <td>@game.Week.Number</td>
            <td>@game.Date.ToShortDateString()</td>
            <td>@game.HomeTeam</td>
            <td>@game.AwayTeam</td>
            <td>@game.Spread</td>
            <td>@game.OverUnder</td>
            @if(includesFinalizedGames)
            {
                <td>@game.FinalScore</td>
                <td>@game.HomeTeamScore</td>
                <td>@game.AwayTeamScore</td>
            }
            @if (Model.CurrentUser.IsAdmin)
            { 
                <td>
                    <button class="button btn info" onclick="edit(@(game.Id))">Edit</button>
                </td>
            }
        </tr>
    }
    </tbody>
    <tfoot>    
    </tfoot>
    </table>
    @if (Model.CurrentUser.IsAdmin)
    {
    <div>    
        @using (Html.BeginForm("load", "game", FormMethod.Post))
        {
            @Html.Hidden("week", Model.CurrentWeek.Number)
            <input class="button" type="submit" value="Load Games"  />                        
            <button class="button" onclick="addGame()">Add Game</button>
        }
    </div>
    }
    <div id="hiddenEditFormContainer" style="display:none">

    </div>
    
<script language="javascript" type="text/javascript">

    $(function () {

        var dialogOpts = {
            title: "Add Game",
            modal: true,
            autoOpen: false,
            height: 'auto',
            width: 'auto',
            open: function () 
            {
                $("#hiddenEditFormContainer").load("@Url.Action("add", "game")");
            }
        };
        $("#hiddenEditFormContainer").dialog(dialogOpts);    

    });

    function addGame()
    {
        $("#hiddenEditFormContainer").empty();
        $("#hiddenEditFormContainer").dialog("open");
    }

    function edit(gameId)
    {
        $("#hiddenEditFormContainer").empty();

        var dialogOpts = {
            title: "Add Game",
            modal: true,
            autoOpen: false,
            height: 'auto',
            width: 'auto',
            open: function () 
            {
                $("#hiddenEditFormContainer").load("@Url.Action("add","game")" + "/" + gameId);
            }
        };
        $("#hiddenEditFormContainer").dialog(dialogOpts); 
        $("#hiddenEditFormContainer").dialog("open");
    }
    
    function cancel()
    {
        $("#hiddenEditFormContainer").dialog("close");
    }

    function save()
    {
        $.ajax({
              type: 'POST',
              url: $("#saveForm").attr("action"),
              data: $("#saveForm").serialize(),
              success: function(result)
              {
                $("#currentGamesContainer").empty();
                $("#currentGamesContainer").append(result);                
              },
              dataType: "html"
            });

        $("#hiddenEditFormContainer").dialog("close");
    }
        
</script>